.web{
    /* position: relative; */
    margin-left: 7px;
    position: absolute;
    left: 58px;
    width: 1070px;
}
#head{
    background-image: url(red-penguin-web-solutions-websites-social-media-and-technology-red-windows-png-hd-1920_1080.png);
    height: 232px;
    width: 1066px;
    position: absolute;
    background-repeat: no-repeat;
    color: white;
}

#headcontent{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 71px;
    padding-left: 91px;
    padding-top: 2px;
}
#restnt{
    width:158px;
    
    color: white;
	height: 2px;
	border-radius:5px 5px 5px 5px;
	background:#803d3d;
	padding:10px;
	font: size 16px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color:white;
}
#restautant{
    width:158px;
    padding: 2px;
    padding-left: 5px;
    position: relative;
    left: 13px;
    bottom: -5px;
    color: white;
	height: 24px;
    background:#803d3d;
}
#deliverylogo{
    margin-top: 2px;
    background-repeat: no-repeat;
    position: relative;
    padding: 29px;
    padding-left: 522px;
    padding-top: -4px;
    top: -258px;
    width: 20cm;
}
.navright{
    height: auto;
    width: auto;
    position: relative;
    left: 868px;
    top: -491px;
}
#shop{
    height: 2cm;
}
.partner{
    color: white;
    width:152px;
	height: 37px;
	border-radius:5px 5px 5px 5px;
	background: #757171;
	padding:10px;
	font: size 25px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
    font-size:smaller;

}
#login{
    color:  #803d3d;
    background-color: white;
    height: 24px;
    width: 99px;
    margin-top:11px;
	border-width: 1px;
	border-style:solid;
    border-radius:5px 5px 5px 5px;


}
.tab1{
    position: relative;
    top: 232px;
    background-color: white;
}
.tab1content{
    color: black;
    position: relative;
    padding: 28px;
    padding-left: 197px;


}
.slide{
    position: relative;
    height: 217px;
    width: 234px;
    left: 198px;
}

.slideimg{
    height: 142px;
    width: 189px;
    position: relative;
    left: 0px;
}
.slidetext{
    position: relative;
    line-height: 0px;
    text-align: left;
    top: 3px;
    width: 189px;
}
.slidetextright{
    position: relative;
    font: size 1px;
    line-height: 0px;
    width: 74px;
    left: 103px;
    top: -70px;
}
#form2{
    position: relative;
    height: 194px;
    width: 278px;
    left: 409px;
    top: -223px;
}
#slideid{
    position: relative;
    left: 15px;
    bottom: -6px;
}
#form3{
    position: relative;
    height: 192px;
    width: 287px;
    left: 649px;
    top: -411px;
}
#slide3id{
    position: relative;
    left: 2px;
}
.tab2{
    position: relative;
    top: -139px;
    background-color:  #c0c0c05e;
    height: 380px;
    border-bottom:2px solid black;
    border-top:2px solid black;
}
.hm{
    position: relative;
    background-color: #c0c0c0ab;
    height: 144px;
    width: 216px;
    left: 652px;
    top: -407px;
}
.hmbutton{
    color: white;
    background-color: navy;
    width: 119px;
    height: 29px;
	border-radius:5px 5px 5px 5px;
    padding:10px;
	font: size 25px;
	margin-top:1px;
	border-width: 0px;
	border-style:solid;
    font-size:smaller;
    position: relative;
    top: -22px;

}
#tab3{
    position: relative;
    height: 151px;
    top: -158px;
}
.tab3content{
    position: relative;
    left: 191px;
    height: 21px;
}
.sweetclass{
    width: 223px;
    position: relative;
}
.tabcontent4{
    position: relative;
    left: 191px;
}
#pizza{
    position:absolute;
    background-color: silver;
    color: white;
    width: 119px;
    height: 29px;
	border-radius:5px 5px 5px 5px;
    padding:10px;
	font: size 25px;
	margin-top:1px;
	border-width: 0px;
	border-style:solid;
    font-size:smaller;
    position: relative;
    top: 2px;
    
}
#tab2head{
    position: relative;
    left: 183px;
    font-size: x-large;
    font-weight: bold;
}
#imgbusiness{
    position: relative;
    left: 182px;
}
.imgbusiness{
    height: 141px;
}
#imgmobile{
    position: relative;
    left: 574px;
    top: -255px;
}
#contbns{
    position: relative;
    height: 116px;
    width: 254px;
    left: 178px;
    line-height: 11px;
}
#contmbl{
    position: relative;
    left: 581px;
    bottom: 240px;
    /* bottom: 2px; */
}
.tabwork{
    position: relative;
    height: 305px;
    top: -120px;
}
#work{
    position: relative;
    left: 176px;
    font-family: ui-serif;
    font-weight: bold;
    font-size: x-large;
}
#contpartner{
    position: relative;
    background-color: green;
    color: white;
    height: 131px;
    width: 563px;
    left: 429px;
    bottom: 131px;
}
#contcareer{
    position: relative;
    background-color:yellow;
    color:black;
    height: 131px;
    width: 563px;
    left: 179px;
    bottom: 96px;

}
#divcareer{
    position: relative;
    height: 132px;
    top: -154px;
}
#endlogo{
    background-color: #000000c2;
    color: white;
    position: relative;
    height: 237px;
    width: 370px;
    top: -341px;
}
#end{
    background-color: rgb(66, 10, 10);
    color: white;
    height: 52px;
    position: relative;
    top: -341px;
    text-align: center;
}